<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quiz Application</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

<meta name="theme-color" content="#FFD700">

<meta name="mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="apple-mobile-web-app-title" content="Quiz App">
</head>

<body>

    <div class="container">

    <div class="card">

        <h1>Quiz Application</h1>

        <p class="subtitle">
            Test Your Knowledge and Improve Your Skills
        </p>

        <div class="features">

            <div class="feature">
                📚
                <span>Multiple Choice Questions</span>
            </div>

            <div class="feature">
                ⏱️
                <span>Timed Challenges</span>
            </div>

            <div class="feature">
                🏆
                <span>Instant Results</span>
            </div>

        </div>

       <a href="{{ url_for('instructions') }}" class="start-btn">
    🚀 Start Quiz
</a>

    </div>

</div>
</body>

</html>